<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        body {
            background-color: #e0eff1;
            color: #680148;
            text-align: center;
            font-family: Helvetica;
            font-weight: bold;
            padding: auto;
            margin-top: 0;
            font-size: 30px;
        }
        .header {
            background-color: #7db4b5;
            padding: 5%;
        }
        h1 {
            font-size: 52px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>{{ user.name }}, uma nova aposta foi realizada!</h1>
    </div>
    <p>O jogador {{ content.user.name }} acabou de realizar uma nova aposta no sistema, com valor total de {{ content.amount }}.</p>
    <p>Email automático enviado para todos os administradores do sistema.</p>
    </div>
</body>
</html>